<form asp-action="Index">
    <p>
        <label> Hệ số A: </label>
        <input type="text" name="heSoA">
    </p>
    <p>
        <label>Hệ số B:</label>
        <input type="text" name="heSoB">
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>
<h3> @ViewBag.mess</h3>


