<form asp-action="Create">
    <label> ID:</label>
    <input type="number" name="PersonID" value="1">
    <br>
    <label>Họ và tên :</label>
    <input type="text" name="PersonName" value="Nguyen Van A">
    <br>
    <label>Ngày sinh:</label>
    <input type="date" name="PersonBir" value="11-03-2001">
    <br>
    <label>Địa chỉ:</label>
    <input type="number" name="Address" value="Hà Nội">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.Pers</h2>